*.ddeb
*.tar.gz
*.tar.gz.sum
*~
*.bak
*.deb
*.o
*.bs
*_amd64.build
*_amd64.changes
*buildinfo
*.o
*.bs
*~
*.gz
*.xz
*.dsc
*.swp
.nfs*
*~
*-*.*.*/
*test-output.txt
DEADJOE
.vscode/perl-lang
Makefile
Makefile.old
Makefile.in
aclocal.m4
configure
config.log
config.status
*/conftools/*
aclocal.m4
autom4te.cache/
conftools/
.vstags
autom4te.cache/
nytprof.*
nytprof/
nytprof.out
blib/
.build/
_build/
cover_db/
thirdparty/*
!thirdparty/Makefile.am
!thirdparty/cpanfile*snapshot
Build.bat
.last_cover_stats
pm_to_blib
_eumm/
messages.pote
distsecret
app-distsecret
.pls_cache
*.ddeb
.pls_cache/index
.idea
cover_db/
